@forward "vuetify/settings" with (
    $utilities: false,
    $color-pack: false,
    $body-font-family: (
        "Roboto",
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        sans-serif,
    ),
    $container-max-widths: (
        xs: 100%,
        sm: 1400px,
        md: 1400px,
        lg: 1400px,
        xl: 1400px,
        xxl: 1400px,
    ),
    $toolbar-title-margin: 15px,
    $app-bar-elevation: 1
);
