@forward "vuetify/settings" with (
    $body-font-family: (
        "Roboto",
        sans-serif,
    ),
    $container-max-widths: (
        xs: 100%,
        lg: 1400px,
        xl: 1400px,
        xxl: 1400px,
    ),
    $slide-group-prev-basis: 32px
);
