@use "./variables" as vars;

.bouncy-slide-x-transition,
.bouncy-slide-x-reverse-transition,
.bouncy-slide-y-transition,
.bouncy-slide-y-reverse-transition {
    &-enter-active,
    &-leave-active,
    &-move {
        transition:
            transform vars.$transition-bouncy-duration
                vars.$transition-bouncy-easing,
            opacity vars.$transition-bouncy-duration
                vars.$transition-bouncy-easing;
    }
}
.bouncy-slide-x-transition {
    &-enter-from,
    &-leave-to {
        opacity: 0;
        transform: translateX(-30%);
    }
}
.bouncy-slide-x-reverse-transition {
    &-enter-from,
    &-leave-to {
        opacity: 0;
        transform: translateX(30%);
    }
}
.bouncy-slide-y-transition {
    &-enter-from,
    &-leave-to {
        opacity: 0;
        transform: translateY(-30%);
    }
}
.bouncy-slide-y-reverse-transition {
    &-enter-from,
    &-leave-to {
        opacity: 0;
        transform: translateY(30%);
    }
}
