@use "./variables" as vars;
@use "./mixins" as mixins;

.clamped-img {
    width: 100%;
    min-width: var(--img-min-w, 0);
    max-width: min(var(--img-max-w, 100%), 90vw);

    height: clamp(
        var(--img-min-h, #{vars.$clamped-img-min-height}),
        40vw,
        var(--img-max-h, #{vars.$clamped-img-max-height})
    );

    &.clamped-img--square {
        height: auto;
        aspect-ratio: 1 / 1;
        max-width: min(var(--img-max-w, 100%), 35vw);
    }
}

.fade-bottom {
    -webkit-mask-image: linear-gradient(
        to bottom,
        black 0%,
        black 60%,
        transparent 100%
    );

    mask-image: linear-gradient(
        to bottom,
        black 0%,
        black 60%,
        transparent 100%
    );
}

.two-line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
}

.three-line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    overflow: hidden;
}

.text-title {
    font-size: 1.2rem;
}

.text-subtitle {
    font-size: 1.3rem;
}

.skills {
    @include mixins.desktop-hover {
        &:hover {
            background-color: rgb(var(--v-theme-primary));
        }
    }
}
