$transition-normal: 0.5s ease;
$tooltip-font-size: 12px;
$tooltip-radius: 7px;
$clamped-img-min-height: 150px;
$clamped-img-max-height: 400px;
$transition-bouncy-duration: 0.5s;
$transition-bouncy-easing: cubic-bezier(0.34, 1.56, 0.64, 1);
$transition-fade-duration: 0.15s;
