@import "./styles/_animations.scss";
@import "./styles/_components.scss";
@import "./styles/_utilities.scss";

html {
    overflow-y: scroll;
    touch-action: manipulation;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(var(--v-theme-on-surface), 0.3);
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(var(--v-theme-on-surface), 0.5);
}

a {
    color: inherit;
}

.v-btn,
.v-list-item {
    -webkit-user-drag: none;
}

.v-overlay-container * {
    backface-visibility: hidden;
}
