@use "./styles/advanced";
@use "./styles/animations";
@use "./styles/components";
@use "./styles/transitions";
@use "./styles/utilities";

html {
    overflow-y: scroll;
    touch-action: manipulation;
}

.v-overlay-container * {
    backface-visibility: hidden;
}
